extends layout
block content
  div(ng-controller="IndexController")
    div
      h1= 'Who Will Win Oscars'
      p Welcome to who will win oscars
    div(class='row')
       div(class='col-xs-12 mask-wrapper')
        //div(class='overlay-mask')
        //div(class='tweet-mask')
        div(id="chart")
       div(class='col-xs-12' ng-repeat='tweet in tweets track by $index', ng-bind='tweet')
