extends layout
block content
  div(ng-controller="IndexController")
    div(class="text-center")
      h1(class="gold") Who Will Win Oscars?
      div(class='row')
          div(class="col-xs-3" ng-class="{'highlight': applyHighlight(0)}")
              div(class="laurel-wrapper {{applyClass(counters[0].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[0].name")
                  span(class="laurel-text-counter" ng-bind="counters[0].value")
                  i( class="laurel icon-laurel-right")
          div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[1].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[1].name")
                  span(class="laurel-text-counter" ng-bind="counters[1].value")
                  i( class="laurel icon-laurel-right")
          div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[2].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[2].name")
                  span(class="laurel-text-counter" ng-bind="counters[2].value")
                  i( class="laurel icon-laurel-right")
          div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[3].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[3].name")
                  span(class="laurel-text-counter" ng-bind="counters[3].value")
                  i( class="laurel icon-laurel-right")
      div(class="row m-t-lg")
            div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[4].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[4].name")
                  span(class="laurel-text-counter" ng-bind="counters[4].value")
                  i( class="laurel icon-laurel-right")
            div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[5].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[5].name")
                  span(class="laurel-text-counter" ng-bind="counters[5].value")
                  i( class="laurel icon-laurel-right")
            div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[6].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[6].name")
                  span(class="laurel-text-counter" ng-bind="counters[6].value")
                  i( class="laurel icon-laurel-right")
            div(class="col-xs-3")
              div(class="laurel-wrapper {{applyClass(counters[7].name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text" ng-bind="counters[7].name")
                  span(class="laurel-text-counter" ng-bind="counters[7].value")
                  i( class="laurel icon-laurel-right")
      div(class='row')
        div(class='col-xs-3')
            strong(class="color-white") According to Twitter Users
            p(class="no-margin text-color") We measure Twitter buzz in real time
            p(class="no-margin text-color") counting twits containing the movie
            p(class="no-margin text-color") title keyword
        div(class='col-xs-12 text-center tweet-container')
            div(class="tweet" ng-class="{'tweet-hide': tweethide, 'tweet-show': !tweethide}" style="width: 30%;" ng-if="initialized")
                i(class="fa fa-twitter {{tweet.movies[0]}} fa-3x pull-left")
                p(ng-bind-html="tweet.text")
       div(class='col-xs-10 mask-wrapper')
        div(class='overlay-mask')
        div(class='tweet-mask')
        div(id="aggregated_chart" style="height: 500px;")
        div(id="not_aggregated_chart")
        div(id="epoch-chart" class="epoch category4" style="height: 200px;" )


