extends layout
block content
  div(ng-controller="IndexController")
    div
      div(class="row section")
          div(class='col-xs-12 text-center')
              h1(class="gold") Who Will Win The Oscar?
      div(class='row')
          div(class='col-xs-12 text-center')
              i(class="fa fa-facebook fa-2x m-r-xl")
              i(class="fa fa-twitter fa-2x m-r-xl")
              i(class="fa fa-google fa-2x m-r-xl")
              i(class="fa fa-github fa-2x m-r-xl")
      div(class='row section section ')
          div(class='col-xs-12 text-center section-description')
              div(class='text-container')
                strong(class="color-white") According to Twitter Users
                p(class="no-margin text-color") We measure Twitter buzz in real time counting twits containing the movietitle keyword
      div(class='row section section  text-center')
          div(class="col-xs-4 col-md-2 col-lg-1" ng-repeat="counter in counters")
              div(class="laurel-wrapper {{applyClass(counter.name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text-tweet")
                    i(class='fa fa-twitter {{applyClass(counter.name)}}')
                  span(class="laurel-text" ng-bind="movieLabels[counter.name]")
                  span(class="laurel-text-counter" ng-bind="counter.value")
                  i( class="laurel icon-laurel-right")
      div(class='row section section ')
        div(class='col-xs-12 text-center tweet-container')
            div(class='text-container')
                div(class="tweet" ng-class="{'tweet-hide': tweethide, 'tweet-show': !tweethide}" ng-if="initialized")
                    i(class="fa fa-twitter {{applyClass(tweet.movies[0])}} fa-3x")
                    div
                        p(ng-bind-html="tweet.text")
                        p(ng-bind="'Sentiment Score: '+tweet.sentiment.score" ng-class="{'green':(tweet.sentiment.score > 0),'red': tweet.sentiment.score < 0, 'blue': tweet.sentiment.score == 0}")
       div(class='col-xs-12 mask-wrapper')
        div(class='overlay-mask')
        div(class='tweet-mask')
        div(id="aggregated_chart" style="height: 500px;")
        div(id="not_aggregated_chart" style="height: 500px;")




