extends layout
block content
  div(ng-controller="IndexController")
    div(class="text-center")
      h1(class="color-white")= 'Who Will Win Oscars'
    div(class='row')
        div(class='col-xs-3')
            strong(class="color-white") According to Twitter Users
            p(class="no-margin text-color") We measure Twitter buzz in real time
            p(class="no-margin text-color") counting twits containing the movie
            p(class="no-margin text-color") title keyword
        div(class='col-xs-12 text-center tweet-container')
            div(class="tweet {{tweet.movies[0]}}" ng-class="{'tweet-hide': tweethide, 'tweet-show': !tweethide}")
                p(ng-bind="tweet.text")
       div(class='col-xs-10 mask-wrapper')
        div(class='overlay-mask')
        div(class='tweet-mask')
        div(id="chart")
        div(id="epoch-chart" class="epoch category4" style="height: 200px;" )

       div(class='col-xs-2')
        p(ng-repeat="counter in counters | orderBy:'-value'" class="legend {{applyClass(counter.name)}}" ng-class="{'highlight': applyHighlight($index)}")
            span( ng-bind-template="{{counter.name}}: {{counter.value}}")
            span( ng-if="applyHighlight($index)" class="highlight-text") winner


