extends layout
block content
  div(ng-controller="IndexController")
    div
      h1= 'Who Will Win Oscars'
      p Welcome to who will win oscars
    div(class='row')
       div(class='col-xs-12 mask-wrapper')
        div(class='overlay-mask')
        div(class='tweet-mask')
        div(id="chart")
       div(class='col-xs-12')
           span(ng-bind="counters['Big Short']")
           span(ng-bind="counters['Revenant']")
           span(ng-bind="counters['Martian']")
           span(ng-bind="counters['Bridge Of Spies']")
           span(ng-bind="counters['Spotlight']")
           span(ng-bind="counters['Mad Max']")
           span(ng-bind="counters['Room']")
           span(ng-bind="counters['Brooklyn']")
           span(ng-bind="counters['Big Short']")