extends layout
block content
  div#fb-root
  script.
        (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
  script.
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
  div(ng-controller="IndexController")
    div
      div(class="row section")
          div(class='col-xs-12 text-center')
              h1(class="gold") And The Prize Goes To…
              h2(class="gold") Twitter Predicts The Best Picture Oscar® 2016
      div(class='row')
          div(class='col-xs-12 text-center')
              div(class="social-button")
                div(class="fb-share-button" data-href="http://bestpicture2016.freeportmetrics.com " data-layout="button_count")
              div(class="social-button")
                a(href="https://twitter.com/share" class="twitter-share-button") Tweet
              div(class="social-button")
                script( src="//platform.linkedin.com/in.js" type="text/javascript") lang: en_US
                script( type="IN/Share" data-url="http://bestpicture2016.freeportmetrics.com%20" data-counter="right")
              div(class="social-button")
               a(class="github-button" href="https://github.com/Freeport-Metrics/who-will-win-oscar" data-count-href="/Freeport-Metrics/who-will-win-oscar/stargazers" data-count-api="/repos/Freeport-Metrics/who-will-win-oscar#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Freeport-Metrics/who-will-win-oscar on GitHub") Star
        div(class='row section')
            div(class="col-xs-8 col-sm-8 col-md-4")
                p(class="color-white").
                    #[strong Chart 1. Aggregated Number of Tweets Per Movie]#[br]
                    This numbers represent tweets per each movie aggregated since Feb 18th. We count all tweets that contain a movie hashtag, tweets at the official movie profile or tweets that mention names of the cast.
      div(class='row section  text-center')
          div(class=" col-xs-8 col-sm-8 col-md-2 col-lg-2" ng-repeat="counter in counters")
              div(class="laurel-wrapper {{applyClass(counter.name)}}")
                  i( class="laurel icon-laurel-left")
                  span(class="laurel-text-tweet")
                    i(class='fa fa-twitter {{applyClass(counter.name)}}')
                  span(class="laurel-text" ng-bind="movieLabels[counter.name]")
                  span(class="laurel-text-counter" ng-bind="counter.value | megaNumber : 0")
                  i( class="laurel icon-laurel-right")

      div(class='row section')
        div(class='col-sm-8 col-md-4 col-md-offset-2 text-center tweet-container')
            div(class='text-container')
                div(class="tweet" ng-class="{'tweet-hide': tweethide, 'tweet-show': !tweethide}" ng-if="initialized")
                    i(class="fa fa-twitter {{applyClass(tweet.movies[0])}} fa-3x")
                    div
                        p(ng-bind-html="tweet.text")

    div(class="row")
      div(class='col-xs-12')
        p(class="color-white").
              #[strong Chart 2. Buzz Trend Line in Time]#[br]
              This chart shows how the number of tweets per movie grows in real time. The chart displays data from the last hour.
        div(class='overlay-mask')
        div(id="aggregated_chart" )

    div(class="row" style="margin-top: 75px;")
        div(class="col-xs-12")
            p(class="color-white" ).
                #[strong Chart 3. Tweets Per Minute]#[br]
                This chart show tweets per minute for each movie. The data shows in detail how popular is a movie is in a short period of time. It’ll be interesting on the Oscars Night!
            div(class='overlay-mask')
            div(id="not_aggregated_chart" style="height: 500px;")

    div(class="row")
        div(class="col-xs-12")
            article(class="color-white")
                h2 About the Project
                p(class="color-white").
                    We created this real time Twitter buzz meter as a side project of our company #[a(href="http://www.freeportmetrics.com") Freeport Metrics]. The challenge was to figure out who will win the best picture #[a(href="http://www.oscars.org") Oscar® 2016]. We wanted to make it real time to track changes in time, the closer to the Oscars®, the better. First we brainstormed different methods of predicting the winner:
                ul(class="color-white")
                    li Measuring changes to the bookmakers’ scoring
                    li Creating a free market prediction model where people buy movie stock
                    li Mapping how connected the members of the Academy are with the nominees
                    li measuring the buzz on Twitter in real time
                p The Twitter buzz meter turned out to be the most interesting from the technological point of view: a lot of data! We use #[a(href="http://www.nodejs.org") Node.js] server to retrieve tweets that contain previously defined # and @ from the #[a(href="https://dev.twitter.com/streaming/overview") Twitter Stream API]. For the database we use #[a(href="http://www.rethinkdb.com") RethinkDB] to store all the data. Is our solution scalable? Well, yes. We update the counters on the fly to avoid our servers from exploding :)
                p(class="m-b-lg").
                    On the front-end we used #[a(href="http://www.socket.io") Socket.IO] to get data streamed from the server instead of making queries each time. For drawing charts we used #[a(href="http://c3js.org/") C3] library. That’s the whole magic!

  footer(class="color-white")
      div(class='row')
          div(class='col-xs-12 text-center')
              div(class="social-button")
                  div(class="fb-share-button" data-href="http://bestpicture2016.freeportmetrics.com " data-layout="button_count")
              div(class="social-button")
                  a(href="https://twitter.com/share" class="twitter-share-button") Tweet
              div(class="social-button")
                  script( src="//platform.linkedin.com/in.js" type="text/javascript") lang: en_US
                  script( type="IN/Share" data-url="http://.bestpicture2016.freeportmetrics.com%20" data-counter="right")
              div(class="social-button")
                  a(class="github-button" href="https://github.com/Freeport-Metrics/who-will-win-oscar" data-count-href="/Freeport-Metrics/who-will-win-oscar/stargazers" data-count-api="/repos/Freeport-Metrics/who-will-win-oscar#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Freeport-Metrics/who-will-win-oscar on GitHub") Star
                  script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")
    div(class="m-t-lg color-white") Made by
      a( href="http://www.freeportmetrics.com")
        img(src="/img/FM-Logo-White.png" height="20" alt=" Freeport Metrics" class="m-l-sm")
