doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='js/c3.css')
    script(src="js/angular.js")
    script(src="js/socket.io.js")
    script(src="js/d3.js")
    script(src="js/c3.js")
    script(src="javascripts/app.js")
    script(src="javascripts/app/components/components_wrapper.js")
    script(src="javascripts/app/components/chart_directive.js")
    script(src="javascripts/app/controllers/controllers_wrapper.js")
    script(src="javascripts/app/controllers/index_controller.js")
  body(ng-app='whoWillWinOscars')
    block content
