doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/angular.js")
    script(src="js/socket.io.js")
    script(src="javascripts/app.js")
    script(src="javascripts/app/controllers/controllers_wrapper.js")
    script(src="javascripts/app/controllers/index_controller.js")
  body(ng-app='whoWillWinOscars')
    block content
