body {
  background-color: rgb(36, 36, 36);
  padding: 50px;
  font: 16px Helvetica, "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
}

h1{
  font-size: 800%;
  margin-top: 30px;
  font-family: "Josefin Sans";
}

a {
  color: #00B7FF;
}

.mask-wrapper{
  position: relative;
}

.overlay-mask{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+50,0+100 */
  background: -moz-linear-gradient(left, rgba(51,51,51,1) 5%, rgba(51,51,51,0.7) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(51,51,51,1) 5%,rgba(51,51,51,0.7) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(51,51,51,1) 5%,rgba(51,51,51,0.7) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.tweet-mask{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}

/*.tweet{*/
  /*width:300px;*/
  /*height:50px;*/
  /*background-color: rgba(51,51,51, 1);*/
  /*border-radius: 4px;*/
  /*transition: visibility 0s, opacity 0.5s linear;*/
/*}*/

/** CHART STYLES **/

.c3-line{
  stroke-width: 5px !important;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  stroke: rgb(71,71,71);;
  stroke-width: 2px;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  stroke: rgb(71,71,71);
  stroke-width: 2px;
}
.c3 .c3-axis-y2 path, .c3 .c3-axis-y2 line {
  stroke: rgb(71,71,71);;
  stroke-width: 2px;
}

.c3 .tick tspan{
  fill: white;
}

.c3-axis-x .tick {
  /*display: none;*/
}
#aggregated_chart .c3-axis-y2 .tick {
  display: none;
}

.legend{
  font-weight: bold;
}

/** EPOCH CHART STYLES **/

.x.axis.bottom{
  fill: whitesmoke;
}
.y.axis.right{
  fill: whitesmoke;
}
.y.axis.left{
  fill: whitesmoke;
}
.epoch .axis path, .epoch .axis line{
  stroke: rgb(71,71,71) !important;
}
/** Specific styles **/

.Revenant{
  color: #69788C;
}

.Martian{
  color: #AA5A28;
}

.Bridge-Of-Spies{
  color: #821E1E;
}

.Spotlight{
  color: #DCDCDC;
}

.Mad-Max{
  color: #E1BE32;
}

.Room{
  color: #648CAA;
}

.Brooklyn{
  color: #87A096;
}

.Big-Short{
  color: #82643C;
}

.block{
  display: block;
}

.highlight{
  background-color: rgb(71,71,71);
  border-radius: 4px;
  padding: 5px;
}

.highlight-text{
  color: rgb(50, 50, 50);
  margin-left: 20px;
}

.text-color{
  color: rgb(171,171,171)
}

.color-white{
  color: whitesmoke;
}

.no-margin{
  margin: 0;
}

.text-center{
  text-align: center;
}

.tweet-container{
  min-height: 50px;
  margin-bottom: 10px;
}

.tweet{
  background-color: rgb(71,71,71);
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
  color: whitesmoke;
}

.tweet:before{
  position: absolute;
  bottom: -10px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #eee;
  border-left: 7px solid transparent;
  border-top-color: rgb(71,71,71);
  border-width: 10px;
  content: '';
}

.tweet.Revenant{
  border-color: #69788C;
}

.tweet.Martian{
  border-color: #AA5A28;
}

.tweet.Bridge-Of-Spies{
  border-color: #821E1E;
}

.tweet.Spotlight{
  border-color: #DCDCDC;
}

.tweet.Mad-Max{
  border-color: #E1BE32;
}

.tweet.Room{
  border-color: #648CAA;
}

.tweet.Brooklyn{
  border-color: #87A096;
}

.tweet.Big-Short{
  border-color: #82643C;
}


.tweet.tweet-hide{
  opacity: 0;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

.tweet.tweet-show{
  opacity: 1;
  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

h1.gold{
  background: #f3e2c7 ; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f3e2c7  0%, #c19e67  50%, #b68d4c  51%, #e9d4b3  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f3e2c7  0%,#c19e67  50%,#b68d4c  51%,#e9d4b3  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f3e2c7  0%,#c19e67  50%,#b68d4c  51%,#e9d4b3  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7 ', endColorstr='#e9d4b3 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.laurel{
  width: 200px;
  height: 200px;
}

.laurel-wrapper{
  width: 400px;
  height: 200px;
  display: inline-block;
  position: relative;
}

.laurel-wrapper.Revenant svg{
  fill: #69788C;
}

.laurel-wrapper.Martian svg{
  fill: #AA5A28;
}

.laurel-wrapper.Bridge-Of-Spies svg{
  fill: #821E1E;
}

.laurel-wrapper.Spotlight svg{
  fill: #DCDCDC;
}

.laurel-wrapper.Mad-Max svg{
  fill: #E1BE32;
}

svg{
  fill: #648CAA;
}

.laurel-wrapper.Brooklyn svg{
  fill: #87A096;
}

.laurel-wrapper.Big-Short svg{
  fill: #82643C;
}

.laurel-text{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 25%;
  font-size: 150%;
}
.laurel-text-counter{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50%;
  font-size: 400%
}


.m-t-xl{
  margin-top: 35px;
}

.m-t-lg{
  margin-top: 30px;
}

.m-t-md{
  margin-top: 25px;
}

.m-t-sm{
  margin-top: 20px;
}

.m-t-xs{
  margin-top: 15px;
}